{ pkgs, config, lib, linkConfig, modPath, inputs, meta, ... }@args:
let
  mkLink = linkConfig config;
  confRoot = "${modPath.{{ moduleType }}}/{{ moduleName }}/config";
in {
  home.packages = with pkgs; [];

  #
  # Config files
  #
  #xdg.configFile."{{ xdgConfigLocation }}".source = mkLink.to "${confRoot}/";
}
