{
    "name": "{{ username }}/{{ projectName }}",
    "type": "{{ projectType }}",
    "require": {
        "samuelludwig/phprelude": "dev-master"
    },
    "require-dev": {
        "phpunit/phpunit": "^9.5"
    }
}
