<?php declare(strict_types=1); namespace {{ namespace }}\{{ fileName.split('_')|map('capitalize')|join }};
require_once __DIR__ . '/../vendor/autoload.php';
use \Phprelude\Core as p;
use \Phprelude\Optics\Lens as l;
use \Phprelude\Enum;

use Closure;
