{
  description = "[[ description ]]";

  inputs = {
    fup.url = "github:gytis-ivaskevicius/flake-utils-plus";

    #
    # Package Repos
    #
    nixpkgs.url = "github:NixOS/nixpkgs/nixos-unstable";
    #nur.url = "github:nix-community/NUR";
  };

  outputs = inputs@{ self, nixpkgs, fup, ... }:
    let
      pkgs = import nixpkgs { };
      inherit (fup.lib) mkFlake mkApp;
      [[ packageName ]] = { };
    in mkFlake {
      inherit self inputs;

      supportedSystems = [ "x86_64-linux" ];

      overlay = (final: prev: { inherit [[ packageName ]]; });

      sharedOverlays = [ overlay ];

      outputsBulider = channels: {
        inherit overlay;

        packages.[[ packageName ]] = [[ packageName ]];
        defaultPackage = packages.[[ packageName ]];

        apps.[[ packageName ]] = mkApp { drv = packages.[[ packageName ]]; };
        defaultApp = apps.[[ packageName ]];

        devShell = import ./shell.nix { 
          pkgs = channels.nixpkgs;
          devPackage = [[ packageName ]];
        };
      };
    };
}
